/*
The main SCSS file for everything, yep
*/

@import "tachyons";

body {
  height: 100vh;
}
.square {
  padding-bottom: 25%; // 1:1 aspect ratio based on w-25
}
.inner-square {
  top: .5rem;
  right: .5rem;
  bottom: .5rem;
  left: .5rem;
}
.top {
  top: 1rem;
}
.bottom {
  bottom: 1rem;
}
.left {
  left: 1rem;
}
.right {
  right: 1rem;
}