/*
The main SCSS file for everything, yep
*/

@import "tachyons";

body {
  height: 100vh;
}
.square {
  width: 50%;
  padding-bottom: 50%; // 1:1 aspect ratio based on w-50
  @media screen and (min-width:769px) {
    width: 25%;
    padding-bottom: 25%; // 1:1 aspect ratio based on w-25
  }
}

.tall {
  display: none;
  @media screen and (min-width: 769px) and (max-width: 1789px) {
    display: block;
  }
}

.inner-square {
  top: .5rem;
  right: .5rem;
  bottom: .5rem;
  left: .5rem;
  display: none;
}
.top {
  top: 1rem;
}
.bottom {
  bottom: 1rem;
}
.left {
  left: 1rem;
}
.right {
  right: 1rem;
}
.name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 8px;
  top: 15px;
  right: 5px;
  @media screen and (min-width:30em) {
    font-size: 12px;
    bottom: 5px;
    right: 5px;
  }
  @media screen and (min-width:667px) {
    font-size: 14px;
    bottom: 10px;
    right: 10px;
  }
  @media screen and (min-width:768px) {
    font-size: 1rem;
    bottom: 1rem;
    right: 1rem;
  }
}

// ns
@media screen and (min-width:30em) {
}

// m
@media screen and (min-width:30em) and (max-width:60em) {

}

// l
@media screen and (min-width:60em) {

}





